<div class="container">
  <h1 class="title">{{ title }}</h1>
  <ul class="team-list">
    <li *ngFor="let member of teamMembers">{{ member }}</li>
  </ul>
  <div class="form form-add">
    <input
      #addMemberInput
      [value]="newMember"
      type="text"
      placeholder="Name"
      class="name-field"
      (input)="onInput(addMemberInput.value)"
    />
    <button class="button add" (click)="addMember()">Add</button>
  </div>
  <div class="form form-generate">
    <input
      #numberOfTeamsInput
      type="number"
      placeholder="Amount of teams"
      [value]="numberOfTeams"
      (input)="onNumberOfTeam(numberOfTeamsInput.value)"
    />
    <button class="button generate" (click)="generateTeams()">Generate</button>
  </div>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <app-team [teams]="teams"></app-team>
</div>
